<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="SitecoreExtension.HistoricDataLog.Events.SaveItemChanges, SitecoreExtension.HistoricDataLog" method="OnItemSaved" />
      </event>
    </events>
    <commands>
      <command name="historiclog:configurewatchlist" type="SitecoreExtension.HistoricDataLog.Commands.ConfigureWatchlistCommand, SitecoreExtension.HistoricDataLog" />
      <command name="historiclog:addwatchlist" type="SitecoreExtension.HistoricDataLog.Commands.AddWatchlistCommand, SitecoreExtension.HistoricDataLog" />
      <command name="historiclog:delete" type="SitecoreExtension.HistoricDataLog.Commands.DeleteHistoricLogEntryCommand, SitecoreExtension.HistoricDataLog" />
      <command name="historiclog:configuredelete" type="SitecoreExtension.HistoricDataLog.Commands.ConfigureDeleteBatchCommand, SitecoreExtension.HistoricDataLog" />
    </commands>
  </sitecore>
</configuration>