<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
      <rules>
        <rule name="shell">
          <urlPrefix>/sitecore/shell</urlPrefix>
		  <ignore contains="Applications/Archives/Historic Log"/>
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>

<!-- https://briancaos.wordpress.com/2013/05/07/sitecore-6-6-csrf-form-field-is-missing/ -->