<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="SitecoreExtension.HistoricDataLog.Events.SaveItemChanges, SitecoreExtension.HistoricDataLog" method="OnItemSaved" />
      </event>
    </events>
  </sitecore>
</configuration>